/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2014, 5:46:51 AM
    Author     : WORLANYO
*/


body {
    background: url(../images/back3.jpg) no-repeat fixed !important;
    /* font-family: 'Oswald', sans-serif; */
}

ul{
    list-style: none;
}

li {
    border-bottom: 1px solid #90bade;
    margin: 0;
    list-style: none;
    list-style-image: none;
}

ul li a{
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #1958b7;
    border-right: 10px solid #508fc4;
    background-color: #fff;
    color: #fff;
    text-decoration: none;
    width: 100%;
}

h2{
    margin-left:100px;
}








/*@import url(http://fonts.googleapis.com/css?family=Oswald);*/

/*.btn{
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs{
    font-weight: 300;
}
   
.btn-hot {
color: #fff;
background-color: #db5566;
border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
color: #fff;
background-color: #df6a78;
border-bottom:2px solid #b25560;
outline: none;}


.btn-hot:active, .btn-hot.active {
color: #fff;
background-color: #c04b59;
border-top:2px solid #9a3c47;
margin-top: 2px;
}*/
/*
body{  
position: fixed; 
top: 0; 
left: 0; 
width: 100% !important; 
height: 100% !important; 
background: url(http://biomassmagazine.com/uploads/posts/web/2012/10/GiantKingGrass_13500613871449.jpg) no-repeat center center fixed !important; 
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 
z-index: -1; 
} 
.ui-page{ 
background:none; 
}*/